.searchRowContentWrapper{
    padding: 1em;
    cursor: pointer;
}

.searchRowContentWrapper .searchRowTitle span{
    padding-left: .5em;
    font-size: .6em;
    text-transform: none;
}

.searchRowContentWrapper .searchRowTitle{
    font-size: 1.6em;
}

.searchRowLocation .faIcon{
    font-size: 1.5em;
}

.searchRowHeader{
    display: flex;
}

.searchRowTitle{
    flex-grow: 1;
    text-decoration: none;
}

.searchRowLocation>*{
    display: inline;
    float: left;
}

.searchRowLocation span{
    padding-left: .5em;
}

.searchRowDescription{
    max-height: 0;
    transition: .4s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.searchRow:hover .searchRowDescription{
    max-height: 10em;
    margin-top: .5em;
}